---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: amount=1999&card_number=4242424242424241&cvv=123&expiration_month=01&expiration_year=2021&zip_code=1234
    headers:
      Authorization:
      - Token token=<FAKEPAY_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000001}'
  recorded_at: Wed, 07 Oct 2020 16:25:20 GMT
recorded_with: VCR 6.0.0
